.section {
    margin: 12px 0;
  }

  .configuration-tab {
    margin-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
  }

  .checkbox {
    margin-left: 5px;
    margin-bottom: 5px;
  }

  .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

    .inputfile+label {
    cursor: pointer;
  }

  .disabled{
    pointer-events: none;
    opacity: 0.4;
}

.view-type-select {
  max-width: 30rem;
  margin-right: 1rem;
}