<mat-checkbox class="margin" [(ngModel)]="export">Export to IFC</mat-checkbox>
<mat-tab-group animationDuration="0ms" [ngClass]="{'disabled': !export}">
  <mat-tab label="General">
    <div fxLayout="column" class="configuration-tab">
      <mat-form-field class="view-type-select">
        <mat-label>IFC Version:</mat-label>
        <mat-select [(ngModel)]="ifcExportConfiguration.IFCVersion">
          <mat-option *ngFor="let ifcVersionAttribute of ifcVersionAttributes" [value]="ifcVersionAttribute.value">
            {{ifcVersionAttribute.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="view-type-select">
        <mat-label>File type:</mat-label>
        <mat-select [(ngModel)]="ifcExportConfiguration.IFCFileType">
          <mat-option *ngFor="let ifcFileFormatAttribute of ifcFileFormatAttributes" [value]="ifcFileFormatAttribute.value">
            {{ifcFileFormatAttribute.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="view-type-select">
        <mat-label>Phase to export:</mat-label>
        <mat-select [(ngModel)]="ifcExportConfiguration.ActivePhaseId">
          <mat-option *ngFor="let activePhaseIdAttribute of activePhaseIdAttributes" [value]="activePhaseIdAttribute.value">
            {{activePhaseIdAttribute.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="view-type-select">
        <mat-label>Space boundaries:</mat-label>
        <mat-select [(ngModel)]="ifcExportConfiguration.SpaceBoundaries">
          <mat-option *ngFor="let spaceBoundariesAttribute of spaceBoundariesAttributes" [value]="spaceBoundariesAttribute.value">
            {{spaceBoundariesAttribute.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="view-type-select">
        <mat-label>Project Origin:</mat-label>
        <mat-select [(ngModel)]="ifcExportConfiguration.SitePlacement">
          <mat-option *ngFor="let siteTransformBasisAttribute of siteTransformBasisAttributes" [value]="siteTransformBasisAttribute.value">
            {{siteTransformBasisAttribute.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  </mat-tab>
  <mat-tab label="Aditional Content">
    <div fxLayout="column" class="configuration-tab">
      <mat-checkbox class="checkbox" [(ngModel)]="ifcExportConfiguration.Export2DElements">Export 2D plan view elements</mat-checkbox>
      <mat-checkbox class="checkbox" [(ngModel)]="ifcExportConfiguration.ExportLinkedFiles">Export linked files as separate IFCs</mat-checkbox>
      <mat-checkbox class="checkbox" [(ngModel)]="ifcExportConfiguration.VisibleElementsOfCurrentView">Export only elements visible in view</mat-checkbox>
      <mat-checkbox class="checkbox" [(ngModel)]="ifcExportConfiguration.ExportRoomsInView" [disabled]="!ifcExportConfiguration.VisibleElementsOfCurrentView">Export rooms in 3D views</mat-checkbox>
    </div>
  </mat-tab>
  <mat-tab label="Property Sets">
    <div fxLayout="column" class="configuration-tab">
      <mat-checkbox class="checkbox" [(ngModel)]="ifcExportConfiguration.ExportInternalRevitPropertySets">Export Revit property sets</mat-checkbox>
      <mat-checkbox class="checkbox" [(ngModel)]="ifcExportConfiguration.ExportIFCCommonPropertySets">Export IFC common property sets</mat-checkbox>
      <mat-checkbox class="checkbox" [(ngModel)]="ifcExportConfiguration.ExportBaseQuantities">Export base quantities</mat-checkbox>
      <mat-checkbox class="checkbox" [(ngModel)]="ifcExportConfiguration.ExportSchedulesAsPsets">Export schedules as property sets</mat-checkbox>

      <mat-checkbox class="checkbox" [(ngModel)]="ifcExportConfiguration.ExportUserDefinedPsets">Export user defined property sets</mat-checkbox>
      <div [ngClass]="{'disabled': !ifcExportConfiguration.ExportUserDefinedPsets}">
        <input type="file" name="userDefinedPsets" id="userDefinedPsets" accept="txt" class="inputfile" />
        <label for="file">
          <span class="material-icons">add_circle</span>
          Select a user defined parameter sets file
        </label>
      </div>
      
      <mat-checkbox class="checkbox" [(ngModel)]="ifcExportConfiguration.ExportUserDefinedParameterMapping">Export parameter mapping table</mat-checkbox>
      <div [ngClass]="{'disabled': !ifcExportConfiguration.ExportUserDefinedParameterMapping}">
        <input type="file" name="userDefinedPsets" id="userDefinedPsets" accept="txt" class="inputfile" />
        <label for="file">
          <span class="material-icons">add_circle</span>
          Select a mapping file
        </label>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Level of Detail">
    <div fxLayout="column" class="configuration-tab">
      <mat-form-field class="view-type-select">
        <mat-label>Level of detail:</mat-label>
        <mat-select [(ngModel)]="ifcExportConfiguration.TessellationLevelOfDetail">
          <mat-option *ngFor="let tessellationLevelOfDetailAttribute of tessellationLevelOfDetailAttributes" [value]="tessellationLevelOfDetailAttribute.value">
            {{tessellationLevelOfDetailAttribute.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-tab>
  <mat-tab label="Advanced">
    <div fxLayout="column" class="configuration-tab">
      <mat-checkbox class="checkbox" [(ngModel)]="ifcExportConfiguration.ExportPartsAsBuildingElements">Export parts as building elements</mat-checkbox>
      <mat-checkbox class="checkbox" [(ngModel)]="ifcExportConfiguration.ExportSolidModelRep">Allow use of mixed "Solid Model" representation</mat-checkbox>
      <mat-checkbox class="checkbox" [(ngModel)]="ifcExportConfiguration.UseActiveViewGeometry">Use active view when creating geometry</mat-checkbox>
      <mat-checkbox class="checkbox" [(ngModel)]="ifcExportConfiguration.UseFamilyAndTypeNameForReference">Use family and type name for reference</mat-checkbox>
      <mat-checkbox class="checkbox" [(ngModel)]="ifcExportConfiguration.Use2DRoomBoundaryForVolume">Use 2D room boundaries for room volume</mat-checkbox>
      <mat-checkbox class="checkbox" [(ngModel)]="ifcExportConfiguration.IncludeSiteElevation">Include IFCSITE elevation in the site local placement origin</mat-checkbox>
      <mat-checkbox class="checkbox" [(ngModel)]="ifcExportConfiguration.StoreIFCGUID">Store the IFC GUID in an element parameter after export</mat-checkbox>
      <mat-checkbox class="checkbox" [(ngModel)]="ifcExportConfiguration.ExportBoundingBox">Export bounding box</mat-checkbox>
      <mat-checkbox class="checkbox" [(ngModel)]="ifcExportConfiguration.UseOnlyTriangulation">Keep Tessellated Geometry as Triangulation</mat-checkbox>
      <mat-checkbox class="checkbox" [(ngModel)]="ifcExportConfiguration.UseTypeNameOnlyForIfcType">Use Type name only for IFCType name</mat-checkbox>
      <mat-checkbox class="checkbox" [(ngModel)]="ifcExportConfiguration.UseVisibleRevitNameAsEntityName">Use visible Revit name as the IFCEntity name</mat-checkbox>
    </div>
  </mat-tab>
</mat-tab-group>