<div class="table-container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>
        <span [style.paddingLeft.px]="40"> Name </span>
      </th>
      <td mat-cell *matCellDef="let data">
        <button mat-icon-button [style.visibility]="!data.expandable ? 'hidden' : ''"
          [style.marginLeft.px]="data.level * 32" (click)="treeControl.toggle(data)">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(data) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
  
        {{data.name}}
      </td>
    </ng-container>
  
    <ng-container matColumnDef="LayerName">
      <th mat-header-cell *matHeaderCellDef> LayerName </th>
      <td mat-cell *matCellDef="let data"> {{data.LayerName}} </td>
    </ng-container>
  
    <ng-container matColumnDef="ColorNumber">
      <th mat-header-cell *matHeaderCellDef> ColorNumber </th>
      <td mat-cell *matCellDef="let data"> {{data.ColorNumber}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Modifier">
      <th mat-header-cell *matHeaderCellDef> Modifier </th>
      <td mat-cell *matCellDef="let data"> {{data.Modifier}} </td>
    </ng-container>
  
    <ng-container matColumnDef="CutLayerName">
      <th mat-header-cell *matHeaderCellDef> CutLayerName </th>
      <td mat-cell *matCellDef="let data"> {{data.CutLayerName}} </td>
    </ng-container>
  
    <ng-container matColumnDef="CutColorNumber">
      <th mat-header-cell *matHeaderCellDef> CutColorNumber </th>
      <td mat-cell *matCellDef="let data"> {{data.CutColorNumber}} </td>
    </ng-container>
  
    <ng-container matColumnDef="CutModifier">
      <th mat-header-cell *matHeaderCellDef> CutModifier </th>
      <td mat-cell *matCellDef="let data"> {{data.CutModifier}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>