
<div fxLayout="row" test>
  <div fxFlex="8" class="background-primary"></div>
  <div fxFlex="84">
    <mat-toolbar color="primary" class="toolbar-main">

      <a class="title" [routerLink]="['/']">
        <img src="assets/revit-to-ifc-logo-white.svg">
      </a>
      <div class="toolbar-spacer"></div>
    
      <div class="button-spacer"></div>
      <button mat-flat-button [routerLink]="'/checkout'">Pricing</button>
      <div class="button-spacer"></div>
      <button mat-flat-button  *ngIf="loginDisplay" [routerLink]="'/conversion'">Convert</button>
      <div class="button-spacer"></div>
      <button mat-flat-button *ngIf="!loginDisplay" (click)="login()">Login</button>
      <button mat-flat-button color="warn" *ngIf="loginDisplay" (click)="logout()">Logout</button>
    </mat-toolbar>
  </div>
  <div fxFlex="8" class="background-primary"></div>
</div>