<h1 subheading-2>Hi {{data.name}}</h1>
<div mat-dialog-content>
  <mat-tab-group animationDuration="0ms">
    <mat-tab label="DWG"><div class="mat-tab"><app-conversion-setup-dwg></app-conversion-setup-dwg></div></mat-tab>
    <mat-tab label="IFC"><div class="mat-tab"><app-conversion-setup-ifc></app-conversion-setup-ifc></div></mat-tab>
    <mat-tab label="PDF"><div class="mat-tab">Content 3</div></mat-tab>
  </mat-tab-group>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
</div>