<div class="table-container">
    <table mat-table [dataSource]="dataSource">

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
        </ng-container>

        <!-- Target Column -->
        <ng-container matColumnDef="target">
            <th mat-header-cell *matHeaderCellDef> Target </th>
            <td mat-cell *matCellDef="let element"> {{element.Target}} </td>
        </ng-container>

        <!-- Acad Pattern Column -->
        <ng-container matColumnDef="acad">
            <th mat-header-cell *matHeaderCellDef> DWG Pattern </th>
            <td mat-cell *matCellDef="let fillPattern">
                <mat-form-field class="view-type-select">
                    <mat-label>Text behavior when exported:</mat-label>
                    <mat-select [(ngModel)]="fillPattern.DWG">
                        <mat-option *ngFor="let acadPattern of acadPatterns"
                            [value]="acadPattern.name">
                            {{acadPattern.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
</div>