<div *ngIf="!loginDisplay">
    <p class="welcome">Welcome to the MSAL.js v2 Angular Quickstart!</p>
    <p>This sample demonstrates how to configure MSAL Angular to login, logout, protect a route, and acquire an access token for a protected resource such as the Microsoft Graph.</p>
    <p>Please sign-in to see your profile information.</p>
</div>

<div *ngIf="loginDisplay">
    <p>Login successful!</p>
    <p>Request your profile information by clicking Web API above.</p>
    <p>{{accountDisplayName}}</p>
    <p>{{accountId}}</p>
</div>



<div *ngIf="loginDisplay">
    <button *ngIf="loginDisplay" mat-flat-button color="warn" (click)="getValue()">getValue</button>
    <p>Result from the API</p>
    <p>{{value}}</p>
</div>
