<div fxLayout="column" fxFlexFill>

    <app-header></app-header>
    <mat-progress-bar *ngIf="loading" color="accent" mode="indeterminate"></mat-progress-bar>

    <div fxLayout="row" fxLayoutAlign="space-between" fxFlex>
      <div fxFlex="8"></div>
      <div fxFlex="84">
        <!--This is to avoid reload during acquireTokenSilent() because of hidden iframe -->
        <router-outlet *ngIf="!isIframe"></router-outlet>
      </div>
      <div fxFlex="8"></div>
    </div>
    <app-footer></app-footer>
  </div>