<mat-checkbox class="margin" [(ngModel)]="export">Export to PDF</mat-checkbox>
<mat-tab-group animationDuration="0ms" [ngClass]="{'disabled': !export}">
  <mat-tab label="Size">
    <div fxLayout="column" class="configuration-tab">
      <mat-form-field class="view-type-select">
        <mat-label>Size:</mat-label>
        <mat-select [(ngModel)]="pdfExportConfiguration.PaperFormat">
          <mat-option *ngFor="let exportPaperFormatAttribute of exportPaperFormatAttributes" [value]="exportPaperFormatAttribute.value">
            {{exportPaperFormatAttribute.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-radio-group aria-labelledby="placement-radio-group-label" class="radio-group" [(ngModel)]="pdfExportConfiguration.ZoomType">
        <mat-radio-button class="radio-button" [value]=0>Fit to page</mat-radio-button>
        <mat-radio-button class="radio-button" [value]=1>Zoom</mat-radio-button>
    </mat-radio-group>
    <div class="offset-container">
      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>Zoom:</mat-label>
        <input matInput type="number" class="right-align" placeholder="0" [(ngModel)]="pdfExportConfiguration.ZoomPercentage" [disabled]="!pdfExportConfiguration.ZoomType">
        <span matSuffix> %</span>
      </mat-form-field>
    </div>
    </div>
  </mat-tab>
  <mat-tab label="Paper Placement">
    <div fxLayout="column" class="configuration-tab">
      <mat-radio-group aria-labelledby="placement-radio-group-label" class="radio-group" [(ngModel)]="pdfExportConfiguration.PaperPlacement">
        <mat-radio-button class="radio-button" [value]=0>Center</mat-radio-button>
        <mat-radio-button class="radio-button" [value]=1>Offset from corner</mat-radio-button>
    </mat-radio-group>
    <mat-form-field class="view-type-select">
      <mat-label>Offset Reference:</mat-label>
      <mat-select [disabled]="!pdfExportConfiguration.PaperPlacement" [(ngModel)]="paperPlacementOffset">
        <mat-option [value]=true>No Margin</mat-option>
        <mat-option [value]=false>User Defined</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="offset-container">   
      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>X:</mat-label>
        <input matInput type="number" class="right-align" placeholder="0" [(ngModel)]="pdfExportConfiguration.OriginOffsetX" [disabled]="paperPlacementOffset">
        <span matSuffix> mm</span>
      </mat-form-field>
      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>Y:</mat-label>
        <input matInput type="number" class="right-align" placeholder="0" [(ngModel)]="pdfExportConfiguration.OriginOffsetY" [disabled]="paperPlacementOffset">
        <span matSuffix> mm</span>
      </mat-form-field>
    </div>
    </div>
  </mat-tab>
  <mat-tab label="Orientation">
    <div fxLayout="column" class="configuration-tab">
      <mat-radio-group aria-labelledby="orientation-radio-group-label" class="radio-group" [(ngModel)]="pdfExportConfiguration.PaperOrientation">
      <mat-radio-button class="radio-button" [value]=2>Automatic</mat-radio-button>
      <mat-radio-button class="radio-button" [value]=0>Portrait</mat-radio-button>
      <mat-radio-button class="radio-button" [value]=1>Landscape</mat-radio-button>
  </mat-radio-group>
    </div>
  </mat-tab>
  <mat-tab label="Appearance">
    <div fxLayout="column" class="configuration-tab">
      <mat-form-field class="view-type-select">
        <mat-label>Raster Quality:</mat-label>
        <mat-select [(ngModel)]="pdfExportConfiguration.RasterQuality">
          <mat-option *ngFor="let rasterQualityTypeAttribute of rasterQualityTypeAttributes" [value]="rasterQualityTypeAttribute.value">
            {{rasterQualityTypeAttribute.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="view-type-select">
        <mat-label>Colors:</mat-label>
        <mat-select [(ngModel)]="pdfExportConfiguration.ColorDepth">
          <mat-option *ngFor="let colorDepthTypeAttribute of colorDepthTypeAttributes" [value]="colorDepthTypeAttribute.value">
            {{colorDepthTypeAttribute.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="view-type-select">
        <mat-label>Export Quality:</mat-label>
        <mat-select [(ngModel)]="pdfExportConfiguration.ExportQuality">
          <mat-option *ngFor="let PDFExportQualityTypeAttribute of PDFExportQualityTypeAttributes" [value]="PDFExportQualityTypeAttribute.value">
            {{PDFExportQualityTypeAttribute.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-tab>
  <mat-tab label="Create Output Using">
    <div fxLayout="column" class="configuration-tab">
      <mat-radio-group aria-labelledby="output-radio-group-label" class="radio-group"
          [(ngModel)]="pdfExportConfiguration.AlwaysUseRaster">
          <mat-radio-button class="radio-button" [value]=false>Vector Processing</mat-radio-button>
          <mat-radio-button class="radio-button" [value]=true>Raster Processing</mat-radio-button>
      </mat-radio-group>
    </div>
  </mat-tab>
  <mat-tab label="Options">
    <div fxLayout="column" class="configuration-tab">
      <mat-checkbox class="checkbox" [(ngModel)]="pdfExportConfiguration.ViewLinksInBlue">View links in blue (Color prints only)</mat-checkbox>
      <mat-checkbox class="checkbox" [(ngModel)]="pdfExportConfiguration.HideReferencePlane">Hide ref/work planes</mat-checkbox>
      <mat-checkbox class="checkbox" [(ngModel)]="pdfExportConfiguration.HideUnreferencedViewTags">Hide unreferenced view tags</mat-checkbox>
      <mat-checkbox class="checkbox" [(ngModel)]="pdfExportConfiguration.MaskCoincidentLines">Region edges mask coincident lines</mat-checkbox>
      <mat-checkbox class="checkbox" [(ngModel)]="pdfExportConfiguration.HideScopeBoxes">Hide scope boxes</mat-checkbox>
      <mat-checkbox class="checkbox" [(ngModel)]="pdfExportConfiguration.HideCropBoundaries">Hide crop boundaries</mat-checkbox>
      <mat-checkbox class="checkbox" [(ngModel)]="pdfExportConfiguration.ReplaceHalftoneWithThinLines">Replace halftone with thin lines</mat-checkbox>
    </div>
  </mat-tab>
</mat-tab-group>