.overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 1.05em;
  }

  .horizontal {
    display: inline-block;
    vertical-align: middle;
    font-style: italic;
  }

  .isError {
    color: red;
    font-weight: 800;
  }

  .mat-body span {
    margin-right: 4px;
  }