<mat-card-content fxLayout="row" fxLayoutAlign="space-between">
    <div>
        <mat-card-content>
            <div class="mat-title overflow">{{ item?.file?.name }}</div>
            <div class="mat-body" fxLayout="row" fxLayoutAlign="start center">
                <span>{{ item?.fileLikeObject?.size / 1024 / 1024 | number: '.2' }} MB </span>
                <span *ngIf="item?.isReady"> - Revit {{ item.version }}</span>
            </div>
        </mat-card-content>
        <mat-card-content>
            <div [ngClass]="{'isError': item?.isError}" fxLayout="row" fxLayoutAlign="start center">
                <mat-progress-spinner *ngIf="item?.isLoading" diameter="20" mode="indeterminate"></mat-progress-spinner>
                <span class="horizontal" *ngIf="item?.progress">{{ item?.progress}} % </span>
                <span *ngIf="item?.isError" class="material-icons">error</span>
                <span>{{ item?.message}}</span>
            </div>
        </mat-card-content>
    </div>
    <div>
        <div>
            <button mat-icon-button color="primary" (click)="item.upload()"
                [disabled]="!item.isReady" aria-label="Upload"
                matTooltip="Upload">
                <span class="material-icons">cloud_upload</span>
            </button>
            <button mat-icon-button color="primary" (click)="item.remove()" aria-label="Remove"
                matTooltip="Remove">
                <span class="material-icons">delete</span>
            </button>
        </div>
        <div style="margin-top: 7px;">
            <a mat-flat-button color="primary" *ngIf="item?.isConverted" href="{{item?.message}}" download="{{item.fileLikeObject.name}}">Download File</a>
        </div>
    </div>
</mat-card-content>
